nav a {
    color: white;
}

.alert {
    text-align: center;
    height: 3rem;
}

.card {
    margin: 1rem;
    width: 18rem;
    text-align: center;
}

.cards {
    display: inline-flex;
    flex-wrap: wrap;
}
